<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.atriams.atri"
    android:versionCode="10"
    android:versionName="1.0.9" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name="com.example.attendo_thecollegeapp.Splash"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.attendo_thecollegeapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.RegisterPage"
            android:label="CR Registration">
            <intent-filter>
                <action android:name="android.intent.Register"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.FacultyRegisteration"
            android:label="Faculty Registration">
            <intent-filter>
                <action android:name="android.intent.FacRegister"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.CrHome"
            android:label="ATRI Attendance">
            <intent-filter>
                <action android:name="android.intent.Cr"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.FacultyHome"
            android:label="Range-wise Attendance">
            <intent-filter>
                <action android:name="android.intent.Faculty"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.HodHome"
            android:label="Faculty Home">
            <intent-filter>
                <action android:name="android.intent.Hod"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.ForgotPassword"
            android:label="Forgot Password">
            <intent-filter>
                <action android:name="android.intent.ForgotPassword"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.FacultyForgotPassword"
            android:label="Forgot Password">
            <intent-filter>
                <action android:name="android.intent.FacultyForgotPassword"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.FacPreHome"
            android:label="Faculty Home">
            <intent-filter>
                <action android:name="android.intent.FacPreHome"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
      	<activity 
            android:name="com.example.attendo_thecollegeapp.DayWise"
            android:label="Day-wise Attendance">
            <intent-filter>
                <action android:name="android.intent.DayWise"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.AttendanceView"
            android:label="Attendance View">
            <intent-filter>
                <action android:name="android.intent.Attendance"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
                <activity 
            android:name="com.example.attendo_thecollegeapp.ConfirmAttendance"
            android:label="Confirmation Page">
            <intent-filter>
                <action android:name="android.intent.Confirm"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.FacultyConfirmation"
            android:label="Faculty Confirmation">
            <intent-filter>
                <action android:name="android.intent.FConfirmation"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.UncheckCorrections"
            android:label="Class List">
            <intent-filter>
                <action android:name="android.intent.Corrections"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.FacultyUpdate"
            android:label="Update Attendance">
            <intent-filter>
                <action android:name="android.intent.FacultyUpdate"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.example.attendo_thecollegeapp.UncheckUpdate"
            android:label="Class List">
            <intent-filter>
                <action android:name="android.intent.Uncheck"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>            
        </activity>
    </application>

</manifest>